backend-servers/tms-server/src/main/java/com/stosz/tms/external/zwy/UploadOrder.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://service.iemisgateway.sinoair.com" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://service.iemisgateway.sinoair.com" xmlns:intf="http://service.iemisgateway.sinoair.com" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!--WSDL created by Apache Axis version: 1.4
Built on Apr 22, 2006 (06:55:48 PDT)-->
 <wsdl:types>
  <schema elementFormDefault="qualified" targetNamespace="http://service.iemisgateway.sinoair.com" xmlns="http://www.w3.org/2001/XMLSchema">
   <element name="uploadOrder4NET" type="xsd:string"/>
   <element name="uploadOrder4NETReturn" type="xsd:string"/>
   <element name="uploadOrder" type="xsd:string"/>
   <element name="uploadOrderReturn" type="xsd:string"/>
  </schema>
 </wsdl:types>

   <wsdl:message name="uploadOrderResponse">

      <wsdl:part element="impl:uploadOrderReturn" name="uploadOrderReturn"/>

   </wsdl:message>

   <wsdl:message name="uploadOrder4NETResponse">

      <wsdl:part element="impl:uploadOrder4NETReturn" name="uploadOrder4NETReturn"/>

   </wsdl:message>

   <wsdl:message name="uploadOrderRequest">

      <wsdl:part element="impl:uploadOrder" name="uploadOrder"/>

   </wsdl:message>

   <wsdl:message name="uploadOrder4NETRequest">

      <wsdl:part element="impl:uploadOrder4NET" name="uploadOrder4NET"/>

   </wsdl:message>

   <wsdl:portType name="UploadOrder">

      <wsdl:operation name="uploadOrder4NET" parameterOrder="uploadOrder4NET">

         <wsdl:input message="impl:uploadOrder4NETRequest" name="uploadOrder4NETRequest"/>

         <wsdl:output message="impl:uploadOrder4NETResponse" name="uploadOrder4NETResponse"/>

      </wsdl:operation>

      <wsdl:operation name="uploadOrder" parameterOrder="uploadOrder">

         <wsdl:input message="impl:uploadOrderRequest" name="uploadOrderRequest"/>

         <wsdl:output message="impl:uploadOrderResponse" name="uploadOrderResponse"/>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="UploadOrderSoapBinding" type="impl:UploadOrder">

      <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="uploadOrder4NET">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="uploadOrder4NETRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="uploadOrder4NETResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="uploadOrder">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="uploadOrderRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="uploadOrderResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="UploadOrderService">

      <wsdl:port binding="impl:UploadOrderSoapBinding" name="UploadOrder">

         <wsdlsoap:address location="http://ceosgatewaytest.sinoair.com/services/UploadOrder"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
